.spinner {
  display: inline-block;

  svg {
    width: 30px;
    height: 30px;
    animation: spinner 1s infinite steps(8);
  }
}

@keyframes spinner {
  0%   {transform: rotate(0)}
  100% {transform: rotate(360deg)}
}
